@use '../../../assets/scss/abstracts/mixins';

.headerWrapper {
  background-color: var(--clr-primary-darkslategray);

  @include mixins.respond-to(md) {
    background-color: unset;
  }
}

.header {
  min-height: 10rem;
  position: relative;

  @include mixins.respond-to(md) {
    background-color: var(--clr-primary-darkslategray);
    border-radius: 1rem;
    min-height: 11.3rem;
  }

  & > * {
    position: absolute;
  }
}

.heading {
  color: var(--clr-neutral-100);
  top: 5rem;

  @include mixins.respond-to(md) {
    left: 3.2rem;
  }
}

.addFeedbackButton {
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @include mixins.respond-to(md) {
    right: 2.4rem;
  }
}

.goBack {
  top: 1.6rem;

  @include mixins.respond-to(md) {
    left: 3.2rem;
  }
}
