.paper {
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.heading {
  color: var(--clr-primary-darkslateblue);
  margin-bottom: 1rem;
}

.error {
  color: var(--clr-alert-danger);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.form > * + * {
  margin-top: 2rem;
}

.register {
  color: var(--clr-primary-slategray);
  text-align: center;
}
