@use "../../../assets/scss/abstracts/mixins";

.form {
  margin-top: 4.4rem;
  padding-bottom: 4rem;

  @include mixins.respond-to(md) {
    margin-top: 5.8rem;
  }
}

.userPictureWrapper {
  align-items: flex-end;
  display: flex;

  @include mixins.respond-to(md) {
    grid-column: 1 / span 2;
  }
}

.emailLabel {
  margin-right: 2rem;
}

.userPicture {
  margin-bottom: 2.8rem;
}

.paper + .paper {
  margin-top: 4rem;
}

.legend {
  color: var(--clr-primary-darkslategray);
  margin-bottom: 2.4rem;
}

.textFieldWrapper {
  display: grid;
  grid-gap: 2rem;

  @include mixins.respond-to(md) {
    grid-template-columns: repeat(2, 1fr);

    & > *:first-child {
      grid-column: 1 / span 2;
    }
  }
}

.buttonWrapper {
  margin-top: 4rem;
  text-align: right;
}
