@use '../../../assets/scss/abstracts/mixins';

.loader {
  padding: 8rem 0;
}

.noFeedback {
  background-image: url(../../../assets/svg/illustration-empty.svg);
  background-position: top 7.6rem center;
  background-repeat: no-repeat;
  background-size: 10.2rem;
  margin-top: 3.2rem;
  padding: 22.3rem 2.4rem 7.6rem;
  text-align: center;

  @include mixins.respond-to(md) {
    background-size: 12.964rem;
    background-position: top 11.1rem center;
    margin-top: 2.4rem;
    padding-bottom: 11.1rem;
    padding-top: 30rem;
  }
}

.noFeedbackHeading {
  color: var(--clr-primary-darkslateblue);
  margin-bottom: 1.4rem;

  @include mixins.respond-to(md) {
    margin-bottom: 1.6rem;
  }
}

.noFeedbackBody {
  color: var(--clr-primary-slategray);
  margin: 0 auto 2.4rem;
  max-width: 41rem;

  @include mixins.respond-to(md) {
    margin-bottom: 4.8rem;
  }
}
