@use "../abstracts/palette";

:root {
  --root-border-radius: 1rem;
  --root-container-wrapper-padding: 2.4rem;
  --root-paper-padding: 2.4rem;
  --root-user-bar-height: 5rem;

  @each $category, $category-map in palette.$palette {
    @each $name, $value in $category-map {
      // TODO
      // stylelint-disable-next-line
      --clr-#{$category}-#{$name}: hsl(#{$value});
    }
  }

  @for $n from 0 through 100 {
    $calculated: $n * 1%;

    // TODO
    // stylelint-disable-next-line
    --clr-neutral-#{$n}: hsl(0deg 0% #{$calculated});
  }
}
