@use '../../../assets/scss/abstracts/mixins';

.loginToComment {
  margin-top: 2.4rem;
}

.form {
  margin-top: 2.4rem;

  @include mixins.respond-to(md) {
    padding: 3.2rem;
  }
}

.labelWrapper {
  --inputlabel-wrapper-bottom-margin: 2.4rem;
}

.labelText {
  font-size: 1.8rem;
  letter-spacing: 0.025rem;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.6rem;

  & > button {
    width: 100%;

    @include mixins.respond-to(md) {
      width: unset;
    }
  }
}
